/* css styles for forms */

@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

* {
	box-sizing: border-box;
}
body {
	margin:0;
	padding:0;
	height: 100%;

}
html {
	height: 100%;

}
.wbp-screen {
	opacity: 0;
	z-index: -1000;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	background: rgba(148, 148, 148, 0.5);
	position: fixed;
	top:0;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	transition-duration:0.3s;
}
.wbp-screen.active {
	opacity: 1;
	z-index: 10000;
}
.wbp-close {
	width: 30px;
	margin-top: -10px;
	cursor: default;
}
.wbp-close:hover {
	color: red;
}
.wbp-formerror {
	font-size: 0.8em;
	color: red;
	margin-left: 13.5%;
	margin-top: 5px;
	float: left;
}
.wbp-container {
	opacity: 0;
	z-index: -1000;
	width: 64%;
    background: #ffffff;
    position: absolute;
    left: 18%;
	top: 100px;
	padding: 30px 20px 80px 20px;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	-webkit-box-shadow: 2px 2px 20px 4px #ADADAD;
	-moz-box-shadow: 2px 2px 20px 4px #ADADAD;
	-o-box-shadow: 2px 2px 20px 4px #ADADAD;
	box-shadow: 2px 2px 20px 4px #ADADAD;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	transition-duration:0.3s;
	-webkit-transform: translate3d(0,-100px,0);
	-moz-transform: translate3d(0,-100px,0);
	-o-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}
.wbp-container.active {
	opacity: 1;
	z-index: 10000;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.wbp-mainline {
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 30px;
	line-height: 1.5em;
}
.wbp-mainline span.wbp-semibold {
	font-size: 1.8em;
	font-weight: 600;
	line-height: 1.5em;
}
.wbp-mainline span.wbp-bold {
	font-size: 2.8em;
	font-weight: 700;
	color: rgb(255, 97, 0);
	line-height: 1.5em;
    text-transform: uppercase;
}

.wbp-inputs {
	float: left;
	width: 100%;
	text-align: center;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	transition-duration:0.3s;
	cursor: pointer;
	
}
.wbp-inputs input[type="tel"] {
	height: 39px;
	padding-left:40px;
	width: 300px;
	background: #eaeaea;
	border: 1px solid #c6c6c6;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	transition-duration:0.3s;
}
.wbp-inputs input[type="tel"]:hover {
	background: white;
}
.wbp-inputs input[type="button"] {
	height: 40px;
	width:15%;
	cursor: pointer;
}
.wbp-inputs input[type="button"] {
	background: rgb(255, 97, 0);
	color:white;
	font-weight: 600;
	font-size: 0.8em;
	text-transform: uppercase;
	border: none;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	transition-duration:0.3s;
}
.wbp-inputs input[type="button"]:hover {
	background: rgb(0, 0, 178);
}
.wbp-inputs .country {
	text-align: left;
}
.wbp-form {
	position: relative;
}
.wbp-actions {
	text-align: center;
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	transition-duration:0.3s;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	width: 100%;
}
.wbp-actions.active {
	visibility: visible;
	opacity: 1;
}

.wbp-actions .yesconnect {
	padding: 20px 20px;
	font-size: 1.8em;
	font-weight: 300;
	background: rgb(255, 97, 0);
	color: white;
	border-radius: 20px;
	border: none;
	border-right: 4px solid rgb(73, 73, 73);
	border-bottom: 8px solid rgb(73, 73, 73);
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	transition-duration:0.3s;
	cursor: pointer;
	margin-right: 5px;
}
.wbp-actions .yesconnect:hover {
	background: rgb(255, 27, 0);
	border-right: 4px solid black;
	border-bottom: 8px solid black;
}

.wbp-actions .yesconnect span {
	display: block;
	font-size: 0.85em;
}

.wbp-actions .noconnect {
	cursor: pointer;
	padding: 20px 20px;
	font-size: 1.8em;
	background: gray;
	color: white;
	border-radius: 20px;
	border: none;
	border-right: 4px solid rgb(73, 73, 73);
	border-bottom: 8px solid rgb(73, 73, 73);
	-webkit-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	transition-duration:0.3s;
	margin-left: 5px;
}
.wbp-actions .noconnect:hover {
	background: rgb(73, 73, 73);
	border-right: 4px solid black;
	border-bottom: 8px solid black;
}
.wbp-actions .noconnect span {
	display: block;
	font-size: 0.85em;
}


/*wbp Status messages */
.wbp-container .wbp-window{
	position: absolute;
	top: 34px;
	width:100%;
	opacity: 0;
	visibility: hidden;
	height: 0;
}
.wbp-container .wbp-window.active {
	visibility: visible;
	opacity: 1;
	height: auto;
}
.wbp-container .wbp-livestatus{
	visibility: hidden;
	height: 0;
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 34px;
	width:100%;
}
.wbp-container.connecting .wbp-window, .wbp-container.connected .wbp-window,
.wbp-container.verifying .wbp-window, .wbp-container.verification-success .wbp-window,
.wbp-container.verification-failed .wbp-window, .wbp-container.in-progress .wbp-window,
.wbp-container.completed .wbp-window, .wbp-container.ended .wbp-window,
.wbp-container.agent-busy .wbp-window, .wbp-container.oops .wbp-window{
	visibility: hidden;
	height: 0;
	overflow: hidden;
}

.wbp-container.connecting .wbp-livestatus, .wbp-container.connected .wbp-livestatus,
.wbp-container.verifying .wbp-livestatus, .wbp-container.verification-success .wbp-livestatus,
.wbp-container.verification-failed .wbp-livestatus, .wbp-container.in-progress .wbp-livestatus,
.wbp-container.completed .wbp-livestatus, .wbp-container.ended .wbp-livestatus,
.wbp-container.agent-busy .wbp-livestatus, .wbp-container.oops .wbp-livestatus{
	visibility: visible;
	height: auto;
}
.wbp-container .wbp-livemsg-connecting, .wbp-container .wbp-livemsg-connected,
.wbp-container .wbp-livemsg-verifying, .wbp-container .wbp-livemsg-verification-success,
.wbp-container .wbp-livemsg-verification-failed, .wbp-container .wbp-livemsg-in-progress,
.wbp-container .wbp-livemsg-completed, .wbp-container .wbp-livemsg-ended,
.wbp-container .wbp-livemsg-agent-busy, .wbp-container .wbp-livemsg-oops, .wbp-container .wbp-livemsg-timer {
	display: none;
}
.wbp-container.connecting .wbp-livemsg-connecting {
	display: inherit;
}
.wbp-container.connected .wbp-livemsg-connected {
	display: inherit;
}
.wbp-container.verifying .wbp-livemsg-verifying {
	display: inherit;
}
.wbp-container.verification-success .wbp-livemsg-verification-success {
	display: inherit;
}
.wbp-container.in-progress .wbp-livemsg-timer {
	display: inherit;
}
.wbp-container.completed .wbp-livemsg-timer {
	display: inherit;
}
.wbp-container.verification-failed .wbp-livemsg-verification-failed {
	display: inherit;
}
.wbp-container.in-progress .wbp-livemsg-in-progress {
	display: inherit;
}
.wbp-container.completed .wbp-livemsg-completed {
	display: inherit;
}
.wbp-container.ended .wbp-livemsg-ended {
	display: inherit;
}
.wbp-container.agent-busy .wbp-livemsg-agent-busy {
	display: inherit;
}
.wbp-container.oops .wbp-livemsg-oops {
	display: inherit;
}
.wbp-container .wbp-verificationcode {
	margin-top: 20px;
	font-size: 1.5em;
	font-weight: 600;
	color: crimson;
}

@media screen and (max-width: 1100px) and  (min-width:767px){
	.wbp-container {
		width: 63%; 
	  	background: #ffffff;
	 	position: absolute;
	  	left: 17.5%;	
	}
}
@media screen and (max-width:767px){
	.wbp-container {
		width: 80%; 
	  	background: #ffffff;
	 	position: absolute;
	  	left: 5%;	
	}
}